h2 {
  background-color: pink;
  color: black;
}
.box {
  border-style: solid;
  border-color: black;
}
.first-box {
  background-color: pink;
  color: black;
  border-radius: 50px;
}
.second-box {
  background-color: blue;
  color: black;
  border-radius: 50px;
}
